


.post-options {
    position: relative; 
    top: 10px;
    left: 380px;
    display: inline-block; /* Makes the wrapper behave like a single element */
}

.post-options__btn {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit; 
    color: #2e0949;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    margin-left: 170px
}

.post-options__menu {
    position: absolute;
    right: 0;
    top: 100%; 
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 100; /* Ensures the menu appears on top */
}

.post-options__menu button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit; 
    background-color: #ffffff;
    color: #2e0949;
    border: none;
    padding: 10px 15px;
    display: block;
    width: 100%; 
    text-align: left;
    cursor: pointer;
}

.post-options__menu button:hover {
    background-color: #928e94;
}

/* To match the post date style, but for the form it will style the date input */
.form-group input[type="date"].form-control {
    color: #999;
    font-size: 0.8em;
}
.customButton {
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #2e0949;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Optional: If you want a hover effect */
.customButton:hover {
    background-color: #3d1a5b; /* A slightly lighter shade for the hover effect */
}

.post_comment {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.comment {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    margin-top: 5px;
    background-color: #ffffff;
}

.comment__author {
    margin: 0 0 5px 0;
    font-weight: bold;
}

.comment__text {
    margin: 0;
    flex: 1;
}
.post_button {
    display: block;
    margin: 15px 0;
    padding: 10px 15px;
    background-color: #2e0949;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.post_button:hover {
    background-color: #76379a;
}

.post-comment-button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: #2e0949; /* Removing the full color fill */
    color: #ffffff; /* Setting text color to purple */
    border: 2px solid #2e0949; /* Adding a purple border */
    padding: 0.05px 5px; /* You can adjust this to make the button smaller or larger */
    cursor: pointer; /* Making it obvious that it's a clickable button */
    transition: background-color 0.3s ease; /* Smooth transition for hover effects */

}

.post-comment-button:hover {
    background-color: #76379a;
}

.post__author {
    font-size: 0.9em; /* Adjust the font size as desired */
    color: #666;     /* Adjust the color as desired */
    margin: 5px 0;   /* Adjust margin as desired */
}


.post__divider {
    border: 2;                       /* Remove default border */
    border-top: 1px solid #2e0949;   /* Add a top border */
    margin: 10px 0;                 /* Adjust spacing around the divider */
}

button {
    margin-left: 10px; /* Adjust as necessary */
}

.trash-button {
    background: none;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: opacity 0.3s ease;

    /* Optional: If you want to make the button somewhat transparent, which can look good with icons */
    opacity: 0.7;
}

.trash-button:hover {
    opacity: 0.5;  /* Fully opaque on hover */
    background-color: #ffffff;
}

.trash-icon {
    width: 30px;  /* Adjust this based on your desired icon size */
    height: auto; /* Keeps aspect ratio */
}

.comment__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__description {
     
    background-color: #ffffff;
    padding: 10px;  
    margin: 20px 0 10px 0;
   color: #333;
}
