@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
/*Typography
--------------------------------------------------------------*/

body, html, button, input, select, textarea {
    color: #404040;
    font-family: "Comfortaa", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0;
    margin: 0;
	height: 100%
}





h1, h2, h3, h4, h5, h6 {
    font-family: "Patua One", serif;
    letter-spacing: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fakeLink {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    background: none!important;
    border: none;
    cursor: pointer;
}

.fakeLink:hover {
    font-weight: bold;
}

.nav-item {
    list-style-type: none;
}

/* General button style */
.btn {
	border: none;
	font-family: Menlo;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}


/* Icon separator */
.btn-sep {
	padding: 25px 60px 25px 120px;
}

.btn-sep:before {
	background: rgba(0,0,0,0.15);
}

/* Button 1 */
.btn-1 {
	background: #3498db;
	color: #fff;
}

.btn-1:hover {
	background: #2980b9;
}

.btn-1:active {
	background: #2980b9;
	top: 2px;
}

.btn-1:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

/* Button 2 */
.btn-2 {
	background: #2ecc71;
	color: #fff;
}

.btn-2:hover {
	background: #27ae60;
}

.btn-2:active {
	background: #27ae60;
	top: 2px;
}

.btn-2:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

/* Button 3 */
.btn-3 {
	background: #e74c3c;
	color: #fff;
}

.btn-3:hover {
	background: #c0392b;
}

.btn-3:active {
	background: #c0392b;
	top: 2px;
}

.btn-3:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

/* Button 3 */
.btn-4 {
	background: #34495e;
	color: #fff;
}

.btn-4:hover {
	background: #2c3e50;
}

.btn-4:active {
	background: #2c3e50;
	top: 2px;
}

.btn-4:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

/* Icons */

.icon-send:before {
	content: "🔓";
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #583C87;
    top: 18%;
    left: 37%;
    animation-duration: 34s;
    animation-delay: -46s;
    transform-origin: 24vw 23vh;
    box-shadow: 40vmin 0 5.826352932152902vmin currentColor;
}
.background span:nth-child(1) {
    color: #888dcd;
    top: 8%;
    left: 18%;
    animation-duration: 19s;
    animation-delay: -1s;
    transform-origin: 7vw -21vh;
    box-shadow: 40vmin 0 5.1710685008480395vmin currentColor;
}
.background span:nth-child(2) {
    color: #583C87;
    top: 35%;
    left: 22%;
    animation-duration: 16s;
    animation-delay: -15s;
    transform-origin: -12vw 8vh;
    box-shadow: 40vmin 0 5.732344405450286vmin currentColor;
}
.background span:nth-child(3) {
    color: #888dcd;
    top: 18%;
    left: 56%;
    animation-duration: 21s;
    animation-delay: -9s;
    transform-origin: 2vw -3vh;
    box-shadow: 40vmin 0 5.37791271016479vmin currentColor;
}
.background span:nth-child(4) {
    color: #583C87;
    top: 27%;
    left: 98%;
    animation-duration: 14s;
    animation-delay: -22s;
    transform-origin: 0vw -13vh;
    box-shadow: -40vmin 0 5.397279518526946vmin currentColor;
}
.background span:nth-child(5) {
    color: #583C87;
    top: 11%;
    left: 98%;
    animation-duration: 41s;
    animation-delay: -18s;
    transform-origin: 7vw 0vh;
    box-shadow: -40vmin 0 5.034248212884228vmin currentColor;
}
.background span:nth-child(6) {
    color: #912143;
    top: 23%;
    left: 96%;
    animation-duration: 8s;
    animation-delay: -27s;
    transform-origin: 6vw 6vh;
    box-shadow: -40vmin 0 5.241860081577184vmin currentColor;
}
.background span:nth-child(7) {
    color: #583C87;
    top: 76%;
    left: 10%;
    animation-duration: 37s;
    animation-delay: -30s;
    transform-origin: -9vw 6vh;
    box-shadow: 40vmin 0 5.1006623271298785vmin currentColor;
}
.background span:nth-child(8) {
    color: #583C87;
    top: 34%;
    left: 3%;
    animation-duration: 16s;
    animation-delay: -35s;
    transform-origin: 18vw -4vh;
    box-shadow: -40vmin 0 5.194608391557623vmin currentColor;
}
.background span:nth-child(9) {
    color: #888dcd;
    top: 56%;
    left: 29%;
    animation-duration: 34s;
    animation-delay: -44s;
    transform-origin: -8vw -12vh;
    box-shadow: -40vmin 0 5.676086870714059vmin currentColor;
}
.background span:nth-child(10) {
    color: #888dcd;
    top: 45%;
    left: 9%;
    animation-duration: 39s;
    animation-delay: -33s;
    transform-origin: -18vw 16vh;
    box-shadow: 40vmin 0 5.950042844780586vmin currentColor;
}
.background span:nth-child(11) {
    color: #583C87;
    top: 70%;
    left: 88%;
    animation-duration: 40s;
    animation-delay: -42s;
    transform-origin: -3vw -20vh;
    box-shadow: -40vmin 0 5.542769430427553vmin currentColor;
}
.background span:nth-child(12) {
    color: #583C87;
    top: 82%;
    left: 80%;
    animation-duration: 40s;
    animation-delay: -6s;
    transform-origin: 16vw -20vh;
    box-shadow: -40vmin 0 5.29325074681718vmin currentColor;
}
.background span:nth-child(13) {
    color: #912143;
    top: 4%;
    left: 44%;
    animation-duration: 36s;
    animation-delay: -31s;
    transform-origin: -16vw 14vh;
    box-shadow: -40vmin 0 5.214135041871386vmin currentColor;
}
.background span:nth-child(14) {
    color: #888dcd;
    top: 3%;
    left: 38%;
    animation-duration: 17s;
    animation-delay: -37s;
    transform-origin: -13vw -10vh;
    box-shadow: 40vmin 0 5.7564050813108665vmin currentColor;
}
.background span:nth-child(15) {
    color: #583C87;
    top: 40%;
    left: 60%;
    animation-duration: 55s;
    animation-delay: -39s;
    transform-origin: 13vw 11vh;
    box-shadow: -40vmin 0 5.706101029870468vmin currentColor;
}
.background span:nth-child(16) {
    color: #912143;
    top: 23%;
    left: 69%;
    animation-duration: 28s;
    animation-delay: -28s;
    transform-origin: 12vw 0vh;
    box-shadow: 40vmin 0 5.376111704793647vmin currentColor;
}
.background span:nth-child(17) {
    color: #888dcd;
    top: 41%;
    left: 97%;
    animation-duration: 31s;
    animation-delay: -33s;
    transform-origin: -24vw -3vh;
    box-shadow: -40vmin 0 5.512258996062807vmin currentColor;
}
.background span:nth-child(18) {
    color: #583C87;
    top: 85%;
    left: 9%;
    animation-duration: 44s;
    animation-delay: -39s;
    transform-origin: 24vw 16vh;
    box-shadow: 40vmin 0 5.887822007407406vmin currentColor;
}
.background span:nth-child(19) {
    color: #583C87;
    top: 52%;
    left: 96%;
    animation-duration: 16s;
    animation-delay: -16s;
    transform-origin: 24vw -16vh;
    box-shadow: 40vmin 0 5.08077046509555vmin currentColor;
}


.btn-purple {
    background-color: purple !important;
    border-color: purple !important;
}

.btn-purple:hover {
    background-color: darkviolet !important;
    border-color: darkviolet !important;
}
.btn-purple-text {
    color: purple !important;
    
}

.posts {
    width: 50%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px 0;
}

.post {
    background-color: #e3e0e6;
    padding: 15px;
    margin: 15px 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.post__title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.post__description {
    color: #666;
    margin-bottom: 10px;
}

.post__date {
    color: #999;
    font-size: 0.8em;
}

button {
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ddd;
}

.postForm {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    background-color: #F9F9F9;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #5B5FEA;
    outline: none;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #5B5FEA;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #4a4fd9;
}

label {
    margin-bottom: 10px;
    display: block;
}

